.Descriptions {
    margin-top: 64px;
    text-align: center;
}

.Headings {
    display: flex;
    gap: 10px;
}

.mainHeadings {
    font-size: 66px;
    font-weight: 700;
}

.sideHeadings {
    font-size: 66px;
}

.brandHeadings {
    font-size: 66px;
}

.image-underline {
    margin-top: -55%;
}

.tagLine {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    color: #101214;
}