:root {
    --primary-color: #1868db;
    --hover-color: #123263;
    --dark-color: rgb(16, 18, 20);
    --accent-color: rgb(255, 169, 0);
    --border-radius: 1.375rem;
    --padding-inline: 2.125rem;
    --font-size-small: 0.5625rem;
    --font-size-large: 1.5rem;
}


.free-btns {
    margin-top: 4rem;
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    min-height: 2.75rem;
    min-width: 5.625rem;
    justify-content: center;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    padding: 0.625rem 1.5rem;
    transition: background-color 0.3s ease;
}

.free-btns:hover {
    background-color: var(--hover-color);
}

.cards {
    margin-top: 4rem;
    display: flex;
    gap: 0.75rem;
    margin-inline: auto;
    overflow-x: auto;
    max-width: fit-content;
    padding: 2.5rem 0.625rem 0 0.625rem;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.display-cards {
    overflow: hidden;
    height: 31rem;
    min-width: 18.5rem;
    border-radius: var(--border-radius);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

.display-cards:hover {
    transform: translateY(-0.625rem);
    cursor: pointer;
}

.display-cards .groupDesc {
    padding-inline-start: var(--padding-inline);
    padding-block-start: 1.8125rem;
    letter-spacing: 0.015rem;
    font-size: var(--font-size-small);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--dark-color);
}

.display-cards .groupDomain {
    padding-inline-start: var(--padding-inline);
    line-height: 1.875rem;
    font-size: var(--font-size-large);
    height: 4.1875rem;
    width: 70%;
    word-wrap: break-word;
    font-weight: 700;
    color: var(--dark-color);
}

.display-cards .groupImages {
    position: relative;
}

.display-cards .groupImages img {
    inset-block-end: 0;
    position: absolute;
    margin: 2.1875rem 0 0 6.25rem;
    aspect-ratio: auto;
    object-fit: cover;
    object-position: left;
    border-radius: var(--border-radius);
    display: block;
}

.display-cards .groupImages .svgs {
    transition: 400ms;
}

.display-cards .groupImages .path {
    fill: var(--accent-color);
}
