.free-btn {

    display: inline-flex;
    align-items: center;
    font-weight: 500;
    min-height: 44px;
    min-width: 90pt;
    justify-content: center;
    background-color: #1868db;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
}

.free-btn:hover {
    background-color: #123263;
}

.display-cards {
    height: 496px;
    min-width: 296px;
    border-radius: 22px;
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.display-cards:hover {
    transform: translateY(-10px);

    cursor: pointer;
}