.brandLogo {
    background-color: #1868db;
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



.Navbar {
    background-color: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.NavMenu {

    height: 90px;
    display: inline-flex;
    justify-content: center;
    align-items: center;


}

.nav-items {

    cursor: pointer;
    display: inline-flex;
    gap: 7vw;
    list-style-type: none;
    min-width: max-content;
}

.nav-list {
    display: flex;
    gap: 3vw;
    margin-top: 7px;
}

.nav-items li:hover {
    color: #1868db;
}

.free-btn {
    margin-top: 0px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 90pt;
    background-color: #1868db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 24px;
    padding-right: 24px;
    text-decoration: solid;
}

.free-btn:hover {
    background-color: #123263;
}

.NavSearch {
    height: 90px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px
}


.search-icon {
    cursor: pointer;
}

.user-login {
    height: 90px;
    display: flex;
    margin-right: 3vw;
    align-items: center;
    justify-content: space-evenly;
}

.user-login .divider {
    height: 30%;
    width: 2px;
    background-color: #dfe1e5;
    margin-right: 20px;
}

.user-login .user-sign-in {
    color: #0052cc;
    font-size: 12px;
    cursor: pointer;
}