.brandLogo {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.Navbrand img {
    align-items: center;
    display: flex;
    justify-items: center;
    margin-top: 23px;
}

.Navbar {
    background-color: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-between;

}

.NavMenu {

    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-items {
    cursor: pointer;
    display: flex;
    gap: 2vw;
    list-style-type: none;
    min-width: max-content;
}

.nav-items li:hover {
    color: #1868db;
}

.free-btn {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1868db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.free-btn:hover {
    background-color: black;
}

.NavSearch {
    height: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px
}


.search-icon {
    cursor: pointer;
}

.user-login {
    height: 90px;
    display: flex;
    margin-right: 3vw;
    align-items: center;
    justify-content: space-evenly;
}

.user-login .divider {
    height: 30%;
    width: 2px;
    background-color: #dfe1e5;
    margin-right: 20px;
}

.user-login .user-sign-in {
    color: #0052cc;
    font-size: 12px;
    cursor: pointer;
}